{% extends 'header.html' %}
{% load static %}
{% load humanize %}
{% block navimg %}
<img src="{% static 'user_avt.png' %}" alt="Person" width="96" height="96">
{% endblock navimg %}
{% block bodyStyle %} style="height: 150vh;justify-content: start" {% endblock bodyStyle %}
{% block body %}

<div class="container mt-5">

  <a href="/user/home" class="btn btn-primary"><< HOME!</a>
    <a href="/user/my/{{request.user}}" class="btn btn-primary"><< DASHBOARD!</a>
   
  </div>
  <br>
<div class="container">
    <h1 style="text-align: center;" class="fm2">FIRST INFORMATION REPORT</h1>
    <br >
    
    <form class="ml-3 mr-3" action="#" enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      <p>Date/Time: <span id="datetime">{{userfir.timestamp | naturaltime}}</span></p>
      <h4 class="fm2">File No : <span class="badge bg-danger">{{userfir.sno}}</span></h4>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="name">Full Name</label>
        
      <input name="username" type="hidden" id="check" value="{{request.user}}" >
          <input type="text" class="form-control text-dark" disabled placeholder ="{{userfir.victimfullname}}" id="name"  />
        </div>
      </div>
      <div class="form-row" style="display: grid; grid-template-columns: repeat(3, 1fr); grid-column-gap: 10px;">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" placeholder="{{userfir.victimemail}}" id="email" disabled />
        </div>
        <div class="form-group">
          <label for="mobile">Mobile No.</label>
          <input type="number" class="form-control" placeholder="{{userfir.mobno}}" id="mobile" disabled />
        </div>
        <div class="form-group">
          <label for="aadhar">Aadhar No.</label>
          <input type="number" class="form-control" placeholder="{{userfir.aadharno}}" id="aadhar" disabled />
        </div>
      </div>
  
      <div class="form-group">
        <label for="address">Address</label>
        <textarea type="text" class="form-control" placeholder="{{userfir.address}}" id="address" rows="4" disabled></textarea>
      </div>
      <div class="form-row" style="display: grid; grid-template-columns: 2fr 1fr 1fr; gap: 10px;">
        <div class="form-group">
          <label for="district">District</label>
          <input type="text" class="form-control" placeholder="{{userfir.district}}" id="district" disabled />
        </div>
        <div class="form-group">
          <label for="state">State</label>
          <input type="text" class="form-control" placeholder="{{userfir.state}}" id="state" disabled />
        </div>
        <div class="form-group">
          <label for="pin">Pin Code</label>
          <input type="number" class="form-control" placeholder="{{userfir.pincode}}" id="pin" disabled />
        </div>
      </div>
  
  
  
  
      <div class="form-row" style="display: grid; grid-template-columns: repeat(2, 1fr); grid-gap: 10px;">
        <div class="form-group">
          <label for="crime">Type Of Crime</label>
          <input type="text" class="form-control" placeholder="{{userfir.typeofcrime}}" id="crime" disabled />
        </div>
        <div class="form-group">
          <label for="date_incident">Date & Time of Incident</label>
          <input type="text" class="form-control" placeholder="{{userfir.incidentdatetime}}" id="date_incident" disabled />
        </div>
      </div>
  
  
  
      <div class="row">
        <div class="col-md-12">
          <label for="details">Details Of Incident</label>
          <textarea type="text" class="form-control" placeholder="{{userfir.detailsofincident}}" id="details" rows="5"
          disabled></textarea>
        </div>
      </div>
      <br />
  
  
      <div class="form-row" style="display: grid; grid-template-columns: repeat(2, 1fr); grid-gap: 10px;">
        <div class="form-group">
          <label for="suspect">Suspects</label>
          <textarea type="text" class="form-control" placeholder="{{userfir.suspect}}" id="suspect" rows="2"
          disabled></textarea>
        </div>
        <div class="form-group">
          <label for="witness">Witness</label>
          <textarea type="text" class="form-control" placeholder="{{userfir.witness}}" id="witness" rows="2"
          disabled></textarea>
        </div>
      </div>
  
  
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="check" disabled checked/>
         
          <label class="form-check-label" for="check">
            I agree that all the information provided above are true to the best
            of my knowledge.
          </label>
        </div>
      </div>
      {% if userfir.solved %}
      <h3 style="text-align: center;"><span class="badge bg-success" >Marked Solved by SHO, {{userfir.district}} </span></h3>
      {% elif userfir.status %}
        <h3 style="text-align: center;"><span class="badge bg-info" >Digitally Verified by SHO, {{userfir.district}} </span></h3>
        {% else %}
        <h3 style="text-align: center; "><span class="badge  bg-warning"  >Pending</span></h3>
        {% endif %}
  
        <button onclick="download()" class="btn btn-primary btn-lg btn-block form-control">Print</button>
    </form>
  </div>
  <br>

  

  {% endblock body%}