{% extends 'header.html' %}
{% load static %}
{% block navimg %}
<img src="{% static 'admin_avt.png' %}" alt="Person" width="96" height="96">
{% endblock navimg %}
{% block bodyStyle %}style="height: 150vh;overflow-x: hidden;justify-content: start"{% endblock bodyStyle %}


{% block body %}
<style>
    * {
        box-sizing: border-box;
    }

    /* Add padding to containers */
    .container {
        padding: 16px;
        background-color: transparent;
    }

    /* Full-width input fields */
    input[type=text],
    input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }

    input[type=text]:focus,
    input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

    /* Overwrite default styles of hr */
    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }

    /* Set a style for the submit button */
    .registerbtn {
        background-color: #04AA6D;
        color: white;
        padding: 16px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

    .registerbtn:hover {
        opacity: 1;
    }

    /* Add a blue text color to links */
    a {
        color: dodgerblue;
    }

    /* Set a grey background color and center the text of the "sign in" section */
    .signin {
        background-color: #f1f1f1;
        text-align: center;
    }
</style>    

<div class="container mt-5">
    <a href="/controller/home" class="btn btn-primary"> HOME!</a>
    <a href="/controller/manageSHO" class="btn btn-primary"><< BACK </a>
  </div>

<div>

    <form action="{% url 'controller:editSHOaccount' %}" method="POST" enctype="multipart/form-data" style="background-color: transparent;"> {% csrf_token %}
        <div class="container">
            <h1 class="fm2" style="text-align: center;">Selected SHO Account Details</h1>
            <p style="text-align: center;">Change value in this form to edit details of the SHO account.</p>
            <hr>
            <input type="hidden" name="oldusername" value="{{sho.username}}">
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="{{sho.email}}" name="email" id="email" >
            <label for="email"><b>UserName</b></label>
            <input type="text" placeholder="{{sho.username}}" name="username" id="username" >
            <label for="email"><b>Police Station Address</b></label>
            <input type="text" placeholder="{{sho.first_name}}" name="paddress" id="paddress" >
            <label for="email"><b>Police Station PINCODE</b></label>
            <input type="text" placeholder="{{sho.last_name}}" name="ppin" id="ppin" >

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="{{sho.password}}" name="psw" id="psw" >
            
            <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>

            <button type="submit" class="registerbtn">Edit Details</button>
        </div>

        
    </form>

    <center><a  class=" mx-3 btn btn-danger " style="justify-content: center;" href="/controller/deleteSHOaccount/{{sho.username}}">Delete SHO Account</a>
    </center>
    
</div>
{% endblock body %}